html
  head
    title= title
  body
    h1= `Update ${modelName}`
    if multipartForm.length !== 0
      h2= "Upload An Image"
      form(action=`/admin/update/multi/${modelName}/${modelId}` class="multipart-form" method="POST" encType="multipart/form-data")
        for obj in schemaObjects
          div.input
            span.label=`${obj.fieldName}`
            input(type="text", name=`${obj.fieldName.toLowerCase()}`)
        for obj in multipartForm
          div.multipart-input
            p='Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region'
            input(type="file" id="fileElem" name=`image-upload` multiple=true accept="image/*")
            label(class="button" htmlFor="fileElem")='Select some files'
        button(type="submit", value="add")
    else
      form(action=`/admin/update/${modelName}/${modelId}` method="post")
        for obj in schemaObjects
          if obj.fieldName !== 'email'
            div.input
              span.label=`${obj.fieldName}`
              input(type="text", name=`${obj.fieldName.toLowerCase()}`)
        button(type="submit", value="add")='Submit'

// Much fix required.