html
  head
    title= title
  body
    h1= `${modelName}s`
    if modelList.length !== 0
      form(action=`/admin/delete/${ modelName }` method="POST").delete-option-form
        label= 'Select All'
          input(type="checkbox" name="delete" value=`selectAll`).multi-select-checkbox
        for obj in modelList
          div.single-model-container
          input(type="checkbox" name="delete" value=`${ obj.id }`).single-select-checkbox
          for property in obj.modelFieldValues
            h3= `${property[0]}`
            a(href=`/admin/${ modelName.toLowerCase() }/detail/${ obj.id }`)= `${property[1]}`
        button(type="submit")= 'Submit'
    else
      a(href=`/admin/${modelName.toLowerCase()}/create`)= `Add ${modelName}`
  script.
    const multiSelectCheckbox = document.querySelector('.multi-select-checkbox');
    multiSelectCheckbox.addEventListener('change', e => {
      const allSingleSelectCheckboxes = document.querySelectorAll('.single-select-checkbox');
      const objProperties = Object.getOwnPropertyNames(allSingleSelectCheckboxes);
      const checkboxArray = objProperties.map(property => allSingleSelectCheckboxes[property]);
      console.log("THIS IS THE OBJ PROPERTIES ARRAY: ", checkboxArray);
      console.log("THIS IS THE CHECKBOX ARRAY: ", objProperties);
      checkboxArray.map(checkbox => {
        checkbox.setAttribute("checked", "true");
      });
    });

    // Getting this serverside error on the delete route now.... Good reason to test ahead of time aye?
    // UnhandledPromiseRejectionWarning: CastError: Cast to ObjectId failed for value "selectAll" at path "_id" for model "Product"

    // Got this in a different attempt to test something, but it give me more context => selectAll is getting passed in somehow, whatever selectAll is.
    // CastError: Cast to ObjectId failed for value "{ name: 'Brown Belt' }" at path "_id" for model "Product 